.tabs{
  width:65%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 16), 0 3px 6px;
  border-radius: 4px;
}

.tabs_nav{
  border-bottom: 1px solid #E0E0E0;
}

.tabs_nav button {
  color: #F91890;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}

.tabs_nav button:hover{
  background:#F5F5F5;
  cursor:pointer;
}

.tabs_cont{
  padding: 20px;

}

.single_tab{
  display:none;
}

.single_tab: first-child{
  display:block;
}
